#work-1{

}
#work-2{
  background-color: red;
}
#work-3{
  background-color: green;
}
#work-4{
  background-color: yellow;
}
#work-5{
  background-color: purple;
}
.active{
  z-index: 1;
}
.panel{
  background-color: rgb(253, 253, 253);
}
.infosBg{
  width: 100%;
  height: 75vh;
  /*box-shadow: inset 0px -1px 5px 2px rgba(255,255,255,1);*/
  /*box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);*/
}
.infosBg img{
  width: 100%;
  height: 100%;
}
.infosPanel{
  width: 100%;
  height: 25vh;
  /*background-color: #161616;*/
  background: radial-gradient(circle, #424242, #161616);
}
.infosText{
  padding: 15px;
  width: 40%;
}
.infosPict{
  float: right;
  width: 59%;
  height: 100%;
  padding: 15px;
}
.infosPict ul{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.infosPict li{
  display: inline;
}
.infosPict img{
  border: solid 1px white;
  /*width: 50%*/
  max-width: 100%;
  height: auto;
  max-height: 20vh;
}
